# dependencies / builds / caches
node_modules/
.next/
out/
dist/
coverage/
.pnp.cjs
.pnpm-store/
npm-debug.log*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# env & local
.env
.env.*
*.local
.DS_Store

# database
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal
